.emoji {
 .situacao {  
    font-size: 4em;
    text-align: center;
    margin-top: 100px;
 }   
}
.acoes { 
    display: flex;
    flex-direction: column;
}

.acoes button {
    width: 60px;
}

.atributos {
    display: flex;
    flex-direction: column;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 60px;
}